# ignore notes
notes.md
todo.md
testoutput


# ignore log files
logs/*
input_files/*.txt

# only pulls input neurons
plotting/main2.py

# exclude all build executables
build/*

# core dumps
core*


# doxygen output
doxygen/html/
doxygen/latex/

#ingore venv
plotting/venv/*
plotting/*.png
