# ignore notes
meeting


# ignore log files
logs/*
input_files/*.txt

# only pulls input neurons
plotting/main2.py

# exclude all build executables
build/*

# core dumps
core*


# doxygen output
doxygen/html
doxygen/latex

extern/logs/

#ingore venv
plotting/venv/*
plotting/*.png
networkX/venv/*

*.csv
*.toml
*.so
*.txt
*.dot
*.svg

